{
    "extends": "airbnb-base",
    "env": {
        "browser": true,
        "node": true,
        "mocha": true,
        "es6": true
    },
    "rules": {
        "prefer-const": 0,
        "no-plusplus": 0,
        "indent": ["error", 4, {
            "SwitchCase": 1
        }],
        "prefer-template": 0,
        "no-underscore-dangle": 0,
        "arrow-body-style": 0,
        "no-shadow": 0,
        "no-param-reassign": 0,
        "no-mixed-operators": 0,
        "no-multi-assign": 0,
        "no-bitwise": 0,
        "max-len": 0,
        "guard-for-in": 0,
        "no-restricted-syntax": 0,
        "no-floating-decimal": 0,
        "comma-dangle": 0,
        "no-continue": 0,
        "func-names": 0,
        "prefer-rest-params": 0,
        "prefer-spread": 0,
        "space-before-function-paren": ["error", "never"],
        "prefer-destructuring": 0,
        "no-buffer-constructor": 0,
        "arrow-parens": 0,
        "no-multiple-empty-lines": 0,
        "prefer-object-spread": 0,
        "function-paren-newline": 0,
        "prefer-exponentiation-operator": 0,
        "function-call-argument-newline": 0,
        "max-classes-per-file": 0,
        "default-param-last": 0,
        "no-import-assign": 0
    }
}
